@use "sass:math";

//Обнулення -----------------------------------------------------------------------
@import "base/nullstyle.scss";

body {
	font-size: 16px;

}

.page {
	max-width: 100%;
	height: 100%;
	position: relative;

}

.welcome__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: top;

}


.menu__main__dishes {
	padding-top: 150px;
	position: relative;
	max-height: 100%;
	max-height: 100%;
	display: block;


.main__dishes__label  {
	width: 100%;
	height: 250px;
	position: relative;


	.main_img {
		position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
			z-index: 1;
	}

			.center__title {
				display: flex;
				margin: 0 auto;
				max-width: 1220px;
				height: 100%;
				padding: 0 20px;
				align-items: center;
				justify-content: center;

				.title__container {
					z-index: 2;
					width: 100%;
					background-color: #0000005b;
					display: flex;

					.main__dishes__title {
						padding: 5px;
						text-transform: uppercase;
						font-weight: bold;
						text-align: center;
						width: 100%;
						z-index: 2;
						font-size: 40px;

						@media(max-width: 768px){
							font-size: 28px;
						}

				}
			}
		}

	}

}

.content__products {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	max-width: 1220px;
	padding: 0 20px;
	margin: 0 auto;
	color: #000;
	.product__container {
		margin-top: 100px;
		width: 100%;
		height: 100%;


	}
}

.products__items {
	margin: 20px 0;
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	//grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


	.products__item {
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr minmax(40px, auto) / 1fr;

		.products__name {
			text-align: center;
			font-size: 24px;
			line-height: 30px;
			color: #fff;
			margin: 0 0 20px 0;
		}

		.products__text {
			font-size: 18px;
			line-height: 30px;
			color: #fff;
			margin: 0 0 20px 0;
		}

		.products__price {
			color: #fff;
			font-size: 24px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			span {
				border-bottom: 1px solid #fff;
				padding: 3px;
			}
		}

		.products__button {
			color: #fff;
			font-size: 40px;
			text-decoration: none;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: 15px;
			border: 2px solid #fff;
			transition: background  0.4s linear ,color 0.4s linear;
		}

		.products__button:hover {
			background-color: #fff;
			color: #1c0a00;
		}
	}
		.products__image {
			position: relative;
			padding: 0 0 90% 0;
			margin: 0 0 20px 0;
		}

			.products__image img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
