@use "sass:math";

//Обнулення -----------------------------------------------------------------------
@import "base/nullstyle.scss";

@import "fonts/icons.scss";

//Підключення шрифтів-----------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300&display=swap");

//За замовчуванням шрифти-------------------------------------------------------------------
$FontFamily: "Montserrat";
$FontSize: 16px;

$mainColor: rgb(92, 89, 255);

//Налаштування адаптивної сітки-------------------------------------------------------------
$minWidth: 320px;

$maxWidth: 1920px;
//Змінний --- (0 = немає обмежень)
$maxWidthContainer: 1220px;
//(30 = по 15px ліворуч і праворуч, 0 = немає відступів)
$containerPadding: 30px;

$containerWidth: $maxWidthContainer + $containerPadding;

//Брейк-поїнти--------------------------------------------------------------------------------------------------------------------------------------------------------
$pc: ($containerWidth);
$tablet: 991.98em;
$mobile: 767.98em;
$mobileSmall: 479.98em;

//Тип адаптива:-----------------------------------------------------------------------
//1 = чуйність(у контейнера немає Брейк-поїнта)
//2 = по Брейк-поїнту
$responsiveType: 1;

body {
	color: #fff;
	font-family: $FontFamily;
	font-size: $FontSize;

	//Скрол заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	//Сайт завантажений
}

body.lock {
	overflow: hidden;
}
//Облонка Wrapper-------------------------------------------
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	//Притискаємо Footer
	> main {
		flex: 1 1 auto;
	}
	//Фікс для слайдерів
	* {
		min-width: 0;
	}
}

/*========== Buttons ============*/
.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 50px;
	padding: 10px 50px;
	border: 1px solid yellow;
	color: #fff;
	font-weight: 500px;
	line-height: 156%;
	transition:
		background 0.4s linear,
		color 0.4s;

	span {
		transition: color 0.3s;
		color: #fff;
		font-weight: 500;
	}
}

.button:hover {
	background-color: yellow;
}

.button--border {
	background-color: transparent;
	border: 2px solid yellow;
}

.button--border:hover {
	background-color: yellow;
	span {
		color: blue;
	}
}

.visit__button {
	transition:
		background 0.4s linear,
		color 0.4s;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
}

.visit__button:hover {
	color: blue;
}

.Contact__button {
	display: none;
}

/*========== Burger ============*/

.icon-menu {
	display: none;
	@media (max-width: 768px) {
		display: block;
		position: relative;
		right: 20px;
		width: 30px;
		height: 18px;
		z-index: 5;
		background-color: transparent;
		transition: liner 0.3s ease 0s;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 13%;
			background-color: #fff;
			transition: liner 0.3s ease 0s;

			@media (max-width: 395px) {
				height: 15%;
			}
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
	}
}

.menu__icon._active {
	@media (max-width: 768px) {
		position: fixed;
		right: 15px;
		top: 30px;
		z-index: 6;
		transition: all -0.2s;
		span {
			width: 0;
		}
		&::before {
			top: calc(50% - 1px);
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}

	/*
	@media (max-width: 375px){
		right: 10px;
		top: 30px;
	}
	*/
}

/*========== Header ============*/

.header {
	//background-color: rgba(2, 23, 255, 0.411);
	background-color: rgba(255, 99, 2, 0.555);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}

.header__logo img {
	position: relative;
	z-index: 5;
	background-color: transparent;
	max-width: 100%;
	width: 240px;
	min-width: 110px;
}

.header__logo._active {
	@media (max-width: 426px){
		img {
			max-width: 90%;
		}
		top: 5px;
		margin-right: 30px;
		z-index: 7;
		position: fixed;
	}
}


.header__container {
	display: grid;
	width: 100%;
	max-width: $maxWidthContainer;
	align-items: center;
	margin: 0 auto;
	min-height: 150px;
	padding: 10px 0 10px 10px;
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 768px) {
		grid-template-columns: auto 1fr auto auto;
	}

}

/* Menu burger */

body._lock {
	@media(max-width: 425px){
		overflow: hidden;
	}
}

.menu {
	justify-self: start;

	&__body {
		@media (max-width: 768px) {
			position: fixed;
			z-index: 6;
			width: 370px;
			height: 100%;
			top: 0;
			right: -700%;
			overflow: auto;
			transition: all 0.98s ease-out -0.8s;
			background-color: rgb(200, 100, 50);
			padding: 80px 15px 30px 15px;
		}
		@media (max-width: 426px) {
			width: 100%;
		}
	}

	&__body._lock {
		overflow: hidden;
	}

	&__body._active {
		right: 0;
		.menu__list {
			padding-top: 30px;
			@media (max-width: 426px) {
				border-top: 1px solid #fff
			}
		}
	}

	//.Menu burger

	.menu__list {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		row-gap: 3px;
		align-items: center;
		@media (max-width: 832px) {
			justify-content: center;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}
	.menu__list > li {
		display: flex;
		align-items: center;
		position: relative;
		padding: 10px 0;
	}

	.menu_link {
		display: inline-block;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 152%;
		display: inline-block;
		font-weight: 500px;
		color: #fff;
		transition: linear 0.3s;
		@media (max-width: 768px) {
			color: #fff;
			font-size: 24px;
		}
	}

	.menu_link:hover {
		color: yellow;
	}

	.menu_link:hover:after {
		content: "";
		width: 100%;
		background-color: #fce38a;
		z-index: 1;
		top: 100%;
		height: 3px;
		position: absolute;
		left: 0;
		transition: opacity 0.2s linear;
	}
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 20px;
	background-color: rgb(163, 83, 43);
	min-width: 170px;
	transform: translate(0px, 10px);
	opacity: 0;
	z-index: 6;
	padding: 20px 20px 30px 20px;
	visibility: hidden;

	pointer-events: none;
	transition: all 0.3s ease 0s;
	@media (max-width: 768px) {
		font-size: 18px;
		left: -6px;
	}
}

.menu__sub-list li {
	margin: 0 0 15px 0;
}

.menu__sub-list li:last-child {
	margin: 0;
}

.menu_sub-link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	padding: 10px 0 0 0;
	transition: linear 0.5s;
	text-transform: capitalize;
}

.menu_sub-link:hover {
	color: yellow;
}

.menu_sub-link:hover:after {
	content: "";
	width: 100%;
	background-color: #fce38a;
	z-index: 1;
	top: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	transition: opacity 0.2s linear;
}

/* Arrow */

.menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}


.menu__arrow._active {
	transform: rotate(180deg);
}

/* Log in - Register */

.action-header {
	display: flex;
	flex-wrap: wrap;
	margin-right: 15px;
	gap: 25px;
	row-gap: 3px;
	font-size: 18px;
	align-items: center;
	justify-content: flex-end;

	@media (max-width: 768px) {
		font-size: 20px;
		margin-left: 20px;
		margin-right: 50px;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__link {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #fff;
		text-transform: capitalize;
		line-height: 152%;

		@media (max-width: 475px) {
			font-size: 16px;
		}
	}

	.action-header__link:hover {
		color: yellow;
	}

	.action-header__link:hover:after {
		content: "";
		width: 100%;
		background-color: #fce38a;
		z-index: 1;
		top: 100%;
		height: 3px;
		position: absolute;
		left: 0;
		transition: opacity 0.2s linear;
	}

	.action-header__button {
		padding: 8px 40px;
		font-size: 16px;
		@media (max-width: 1074px) {
			margin-top: 5px;
		}
	}

	.action-header__button {
		@media (max-width: 768px) {
			padding: 10px 30px;
		}
		@media (max-width: 375px) {
			padding: 6px 19px;
		}
	}
}

.basket {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 5;
	padding-right: 15px;



	.basket__container {
		position: relative;
		padding: 10px;
		border: 2px solid #fff;
		border-radius: 5px;
		border-top: none;
		transition: border-color 0.3s;

		span {
			background-color: red;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			position: absolute;
			top: -5px;
			left: 80%;
			width: 23px;
			padding: 3px;
		}

		i {
			color: #fff;
			transition: color 0.3s;
		}
	}

	.basket__container:hover {
		border-color: yellow;
		i {
			color: yellow;
		}
	}
}

/*-----------------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, -5px);
	pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, -5px);
	pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}

body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

/*-----------------------------------*/

/*========== Main ============*/

.page {
	position: relative;
}

/* Section Welcome */

.welcome {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__container {
		padding-top: 170px;
		padding-bottom: 100px;
		max-width: $maxWidthContainer;
		position: relative;
		z-index: 2;
		flex-grow: 1;
	}

	&__content {
		padding: 0 20px;
	}

	&__sub-title {
		word-spacing: 5px;
		color: yellow;
		font-size: 48px;
		margin-bottom: 15px;
		font-family: "Italianno", cursive;

		@media (max-width: 425px) {
			font-size: 38px;
		}
	}

	&__title {
		font-size: 50px;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media (max-width: 425px) {
			font-size: 40px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 140%;
		margin-bottom: 30px;

		@media (max-width: 425px) {
			font-size: 16.5px;
		}
	}

	&__button {
		@media (max-width: 425px) {
			padding: 10px 40px;
		}

		span {
			color: yellow;
		}
	}

	&__button:hover {
		background-color: yellow;
		span {
			color: rgb(81, 81, 81);
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
	}
}

/* Main__menu */

.main__menu {
	position: relative;

	.main__menu__items {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.menu__item:hover {
		.menu__content {
			top: 40%;
		}

		.menu__content-main {
			top: 36%;
		}

		.menu__underground {
			z-index: 1;
			background-color: rgba(2, 171, 255, 0.356);
		}
	}

	.menu__underground {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transition: all 0.4s;
	}

	.menu__item {
		position: relative;
		width: 33.33333333%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.menu__content {
		backface-visibility: hidden;
		position: absolute;
		width: 100%;
		top: 45%;
		z-index: 2;
		transition: all 0.4s;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.menu__content-main {
		top: 41%;
	}

	.menu__item__title {
		order: 1;
		text-align: center;
		color: #ffffff;
		font-size: 35px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 53px;
	}

	.item__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

									/* Coments */

.section_header {
	text-align: center;
	margin: 0 auto;

	.section_suptitle {
		font-size: 24px;
		font-family: "Kaushan Script", cursive;
		font-weight: 300;
		padding-bottom: 20px;
		line-height: 1.2;
	}

	.section_title {
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
	}

	.section_title:after {
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background-color: yellow;
		margin: 30px auto 50px;
	}
}

.What-people-say {
	background-image: url("img/Background/Orange-bg.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	object-position: center;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.section__container {
		max-width: $maxWidthContainer;
		padding-top: 80px;
		padding-bottom: 100px;
		max-width: $maxWidthContainer;
		position: relative;
		z-index: 2;
		flex-grow: 1;
	}

	.coments {
		display: flex;
		flex-wrap: wrap;
		gap: 100px 19.9%;
	}

	.coments_item {
		display: flex;
		width: 40%;
		position: relative;
		padding: 0 10px;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.coments__content {
		margin-left: 110px;
	}

	.pohto__clients {
		height: 100px;
		left: 0;
		top: 0;
		padding-left: 10px;
		position: absolute;
		border-radius: 50%;
	}

	.coments__name {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.coments__name:after {
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		margin: 30px 20px 30px 0;
		background-color: #f3ea81;
	}

	.coments__text {
		font-size: 16px;
		font-style: italic;
		position: relative;
	}

	.coments__text:before {
		content: "⟪";
		display: inline-block;
		color: yellow;
		margin-left: -15px;
		padding-right: 5px;
	}

	.coments__text:after {
		content: "⟫";

		right: 0;
		padding-left: 5px;
		display: inline-block;
		color: yellow;
	}
}

/* Section-subscribe */

.section__subscribe {
	background-color: rgb(150, 79, 47);
}


.footer__subscribe {
	max-width: $maxWidthContainer;
	font-family: "Roboto", sans-serif;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	padding: 50px 0;
	height: 100%;
	align-items: center;
	width: 100%;

	@media (max-width: 990px) {
		display: flex;
		flex-wrap: wrap;
	}

	.subscribe__content {
		width: 100%;
		padding: 0 10px;

		.sub__title h2 {
			font-size: 28px;
			line-height: 150%;
			margin-bottom: 5px;
			color: #fff;
		}

		.sub__text {
			color: #fff;
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 20px;
		}
	}

	.subscribe__contact {
		padding: 0 10px;
		justify-self: end;
		@media (max-width: 990px) {
			display: flex;
			width: 100%;
			justify-content: center;
		}

		.subscribe__input {
			width: 70%;
			height: 50px;
			padding: 0px 0px 0px 20px;
			background: #fff;
			border: 2px solid #e7e7e7;
			border-radius: 3px;
			font-size: 15px;
			color: #333;
			font-style: italic;
			font-weight: 500;
			transition: all 0.3s;
			font-family: "Montserrat", sans-serif;

			@media (max-width: 990px) {
				margin-bottom: 20px;
				width: 100%;
			}
		}
		.subscribe__input::placeholder {
			color: #999;
		}

		.subscribe__btn {
			width: 29%;
			height: 50px;
			text-transform: uppercase;
			font-size: 14px;
			background-color: #d77103;
			border-radius: 3px;
			color: #fff;
			font-weight: 700;
			cursor: pointer;
			transition: background 0.2s linear;

			@media (max-width: 990px) {
				width: 100%;
			}
		}

		.subscribe__btn:hover {
			background-color: rgb(135, 52, 0);
		}

		.subscribe__input:focus {
			outline: 0;
			border: 6px solid #e7e7e7;
		}

		.subscribe {
			display: inline-block;
			width: 500px;

			@media (max-width: 990px) {
				width: 100%;
				flex-wrap: wrap;
			}
		}
	}
}

	/*========== Footer ============*/

/* Footer-content */

.footer {
	height: 100%;
	background-color: rgb(188, 60, 0);

	.footer__container {
		.footer__inner {
			padding: 50px 0;
		}
		max-width: $maxWidthContainer;
		align-items: center;
		margin: 0 auto;
	}

	.footer__body {
		display: grid;

		grid-template-columns: 1fr 1fr 1fr;

		@media (max-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.footer__column {
		line-height: 150%;
		padding: 20px 10px 20px 10px;
	}

	.column__link i {
		color: #fff;
		margin-right: 10px;
		transition: all 0.3s;
	}

	span {
		font-weight: 500;
		color: #fff;
		transition: all 0.3s;
	}

	.column__title {
		color: #fff;
		font-size: 28px;
		margin: 8px 0 35px 0;
	}

	.column__content {
		.column__link i:hover {
			color: rgb(114, 54, 16);
		}

		.p__link-time i:hover {
			color: #fff;
		}

		.a__link-phone span:hover,
		.a__link-map span:hover,
		.a__link-contact span:hover {
			color: rgb(114, 54, 16);
		}
	}

	.social {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		.social__link {
			transition: all 0.4s;
			cursor: pointer;
			padding: 10px 25px 10px 13px;
			border-radius: 5px;
			background-color: rgb(135, 52, 0);

			i {
				width: 0;
				height: 0;
				color: #fff;
			}
		}

		.social__link:hover {
			background-color: #fff;

			i {
				color: rgb(135, 52, 0);
			}
		}
		.social__link-x-twitter {
			padding: 10px 27px 10px 11px;
		}

		.social__link-facebook {
			padding: 10px 24px 10px 13px;
		}
		.social__link-dribble {
			padding: 10px 27px 10px 13px;
		}
	}

	.footer__text {
		color: #fff;
	}

	.footer__logo {
		font-size: 42px;
		color: #fff;
		font-weight: 700;
		margin-bottom: 30px;
	}

	.column__link-flex {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.footer__instagram {
		width: 100%;

		.instagram__items {
			margin: 20px 0;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			@media (max-width: 768px) {
				max-width: 100%;
			}

			.instagram__item {
				position: relative;
				max-width: 31%;

				@media (max-width: 933px) {
					max-width: 45%;
				}
				@media (max-width: 768px) {
					max-width: 768px;
				}
			}

			.instagram__item img {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;

				@media (max-width: 768px) {
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	border-top: 1px solid #fff;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 20px 0;

	span {
		color: #0022ff;
	}
}

					/* ========== PAGE About ======= */

.page-bg {
	background-color: rgba(62, 177, 253, 0.707);
}

.about__welcome__content {
	width: 62%;
}

.about {
	padding: 80px 0;
	background-color: rgba(62, 177, 253, 0.707);
	font-family: "Roboto", sans-serif;
	color: #000;
	font-size: 19px;
	line-height: 180%;
	padding: 80px 0;
	width: 100%;
	height: 100%;

	@media (max-width: 375px) {
		font-size: 18px;
	}

	.all__content {
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		@media (max-width: 855px) {
			flex-wrap: wrap;
		}
	}

	.img__about__container {
		width: 100%;
		height: 300px;
	}

	.about-img {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.about__content {
		width: 50%;
		color: #fff;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		max-width: 700px;
		padding: 20px 10px;

		@media (max-width: 855px) {
			width: 100%;
		}

		.content__title {
			text-transform: capitalize;
			color: rgb(255, 255, 0);
			font-size: 38px;
			margin-bottom: 20px;
		}
		.content__text:before {
			content: "⟪";
			font-size: 30px;
			display: inline-block;
			color: yellow;
			margin-left: -15px;
			padding-right: 5px;
		}

		.content__text:after {
			content: "⟫";
			font-size: 30px;
			right: 0;
			padding-left: 5px;
			display: inline-block;
			color: yellow;
		}
	}
}

.about-menu {
	background-color: rgba(0, 153, 255, 0.707);
}

.about__visit {
	background-color: rgba(0, 153, 255, 0.707);
	padding-bottom: 80px;

	.container {
		padding: 0;
	}

	.visit__content {
		background-color: rgba(22, 114, 176, 0.707);
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		padding: 60px 10px;

		.sub__title {
			color: yellow;
			font-size: 38px;
			margin-bottom: 20px;
			text-transform: capitalize;

			@media (max-width: 426px) {
				font-size: 30px;
			}
		}

		.sub__text {
			margin: 0 auto;
			width: 60%;
			margin-bottom: 20px;
			line-height: 140%;

			@media (max-width: 426px) {
				width: 100%;
			}
		}
	}
}

.container {
	max-width: 1210px;
	align-items: center;
	margin: 0 auto;
	padding: 0 10px;
}

/* ============== PAGE SERVICE ============== */

.service__page {
	background-color: rgba(255, 106, 0, 0.711);
}

.Service__welcome__content {
	color: rgb(0, 251, 255);

	.Service__title {
		text-transform: capitalize;
	}

	.Service__welcome__text {
		color: rgb(1, 160, 163);
	}
}

.main__service {
	margin: 80px 0;
	height: 100%;

	.service__item {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
	}

	.service__items {
		width: 30%;
		text-align: center;

		@media (max-width: 1057px) {
			width: 45%;
		}

		@media (max-width: 769px) {
			width: 100%;
		}

		img {
			width: 200px;
		}

		.content__title {
			margin: 20px 0;
			font-size: 28px;
		}

		.content__text {
			line-height: 150%;
		}
	}
}

.benefits {
	background-color: rgba(255, 106, 0, 0.711);
	padding: 80px 0;
	height: 100%;

	.benefits__title {
		text-transform: capitalize;
	}

	.benefits__content {
		margin-bottom: 50px;
	}

	.benefits__item {
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		justify-content: center;
		gap: 50px;

		.benefits__items {
			display: flex;
			max-width: 100%;
			align-items: center;
			justify-content: center;

			@media (max-width: 425px) {
				display: block;
			}

			img {
				width: 200px;
			}

			.items__content {
				font-size: 18px;
				width: 100%;
				margin-left: 30px;
				padding: 0 10px;
				@media (max-width: 425px) {
					font-size: 16px;
				}

				.items__title {
					font-size: 28px;
					margin: 20px 0;
					@media (max-width: 425px) {
						font-size: 24px;
					}
				}
				.items__text {
					line-height: 150%;
					ul li {
						list-style: georgian;
					}
				}
			}
		}
	}

	.benefits__footer {
		background-color: rgba(200, 83, 0, 0.711);

		.benefits__footer__content {
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			padding: 60px 10px;

			.content__text {
				font-size: 22px;
				line-height: 150%;
				padding: 20px;
				margin-bottom: 20px;
			}
		}
	}
}


			/* =============== PAGE Contact us ================ */


.page-bg-1 {


	.contact_bg {
		z-index: -1;
	}
}

.contact {
	color: #fd0000;
	font-weight: 500;
	height: 100%;
	margin: 200px 0 100px 0;

	.container__inner {
		border: 10px solid #fff;
		padding: 30px;
		height: 100%;

		.container__title {
			text-transform: uppercase;
			text-align: center;
			font-size: 32px;
			margin-bottom: 20px;
		}


		.container__content {

			@media (max-width: 321px){
				font-size: 18px;

			}

			text-align: center;
			font-size: 20px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 50px;

			@media (max-width: 426px){
				text-align: start;
			}

			.email__contact {
				width: 100%;

				.content__input {
					width: 30%;
					padding: 10px 15px;
					font-size: 16px;

					@media (max-width: 1024px) {
						width: 40%;
				}

						@media (max-width: 769px) {
							width: 50%;
					}

					@media (max-width: 426px){
						width: 80%;
						font-size: 14px;
					}

					@media (max-width: 321px){
						width: 100%;

					}
				}
			}

			.write__appeal h2, .email__contact h2{
					margin-bottom: 10px;
			}

			.write__appeal textarea {
				width: 50%;
				min-height: 100px;
				max-height: 100%;
				padding: 15px 15px;
				font-size: 16px;

				@media (max-width: 1024px) {
					width: 60%;
			}

					@media (max-width: 769px) {
						width: 75%;
				}

				@media (max-width: 426px){
					width: 100%;
					font-size: 14px;
				}
			}

			.button__action {
				padding: 20px 20px;
				width: 50%;
				text-align: center;
				margin: 0 auto;
				background-color: transparent;
				border: 4px solid #fff;
				border-radius: 5px;
				color: #fd0000;
				font-size: 20px;
				transition: border-color .4s, color .4s;
				font-weight: 500;

				@media (max-width: 1024px) {
					width: 60%;
			}

					@media (max-width: 769px) {
						width: 100%;
				}
			}

			.button__action:hover {
					border-color: #fd0000;
					color: #b90303;
			}


			.content__contact_us {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;
				gap: 40px;


				.flex_div{
					display: flex;
					flex-direction: column;
					width: 45%;
					gap: 20px;

					@media (max-width: 769px){
						width: 100%;
					}
					@media (max-width: 426px){
						text-align: start;
					}
				}
			}

			i {
				margin-right: 20px;
			}

			.contact__inline-link span, i {
				color: #fd0000;

				margin-bottom: 10px;
				transition:  color .3s;
			}

			.contact__inline-link .a__link-map span:hover,
			.contact__inline-link .a__link-contact span:hover,
			.contact__inline-link .a__link-phone span:hover
			{
				color: rgb(0, 128, 255);
			}
		}
	}
}


															/* POP-up */

	// Pop-up

			.popup.open {
			opacity: 1;
			visibility: visible;

			}

			.popup.open .popup__content {
				transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
				opacity: 1;
				@media(max-width: 426px){
					transform:none;
					opacity: 1;
				}
			}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000c8;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all .8s ease 0s;


	.popup__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;


		@media(max-width: 768px) {
			width: 100%;

		}
	}

}

.popup__content {
	position: relative;
	background-color: #fff;
	color: #000;
	width: 800px;
	min-height: 600px;
	max-height: 100%;
	transition: all .8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

	@media(max-width: 426px){
		transform:none;
		opacity: 0;
	}

	@media(max-width: 768px) {
		width: 100%;
		min-height: 100vh;
	}
}

.popup__close {
	position: absolute;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	top: 25px;
	right: 20px;
	text-decoration: none;
	transition: all .8s ease 0s;
	cursor: pointer;
}

										// Basket

.card__content {
	padding: 20px 0;
}

.card__title {
	font-size: 40px;
	margin: 0;
	padding: 0 20px;
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 3px solid black;
	background-color: #e8650e;
}

.card .checkOut {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	div {
		background-color: #e8650e;
		width: 100%;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 20px;

	}

	div:nth-child(2) {
		background-color: #1c1f25;

	}
	.Pay button {
		background-color: transparent;
		color: #fff;
		font-size: 20px;
		width: 100%;
		height: 100%;
	}
}
